accelerate~=0.29.3
datasets~=2.19.0
evaluate~=0.4.2
huggingface_hub==0.23.0
numpy==1.26.4
pandas~=2.0.2
polars==0.20.31
pronto~=2.5.7
scikit_learn==1.4.1.post1
sentence_transformers==2.2.2
torch~=2.3.0
torchmetrics~=1.4.0
tqdm==4.66.2
transformers==4.40.2
nltk~=3.8.1
scikit-learn~=1.4.2
huggingface-hub~=0.22.2